<!--
 * File: index.html
 * Creation date: 2019-02-22
 * Author: Bogdan Stanciu
 * Type: HTML
 * Author e-mail: bogdan.stanciu@studenti.unipd.it
 * Version: 0.0.1
 *
 * Changelog:
 * 0.0.1 || Bogdan Stanciu || 2019-02-22 || Snellimento file originale
 *
-->

<!--
<div class="section">
    <h5 class="section-heading">Grafana & Bayes</h5>
    <div class="panel-content baron baron__root baron__clipper panel-content--scrollable">
        <span class="gf-form-label">Nodi ricavati dal file JSON</span>

        <ol class="alert-rule-list" ng-model="ctrl.panel.nodi" ng-change="ctrl.load()">
            <li class="alert-rule-item ng-scope" ng-model="ctrl.panel.nodi"  ng-repeat="value in ctrl.panel.nodi" ng-change="ctrl.load()">{{ value }}</li>
        </ol>
    </div>
</div>

-->



<div class="section">
    <h5 class="section-heading">Grafana & Bayes</h5>


    <div class="panel-content baron baron__root baron__clipper panel-content--scrollable">




        <span class="gf-form-label">Nodi ricavati dal file JSON</span>


        <form class="form-class">

            <select id="nodi" class="alert-rule-list" ng-model="soglie">
                <option ng-repeat="n in ctrl.panel.nodes" value="{{n}}">{{n}}</option>
            </select>


            <p>Temporal politic</p>
            <input type="number" ng-model="ctrl.panel.temporalPolitic" placeholder="ctrl.panel.temporalPolitic">
            <select ng-model="ctrl.panel.temporalPoliticMesure">
                <option>Seconds</option>
                <option>Minutes</option>
                <option>Hours</option>
            </select>

            <div ng-repeat="el in ctrl.panel.states[soglie]">
                <form>
                    <p style="float:left;">{{el}}</p>
                    <button ng-click="ctrl.addTreshold(soglie,el)" style="color:black;float:left;">Add Treshold</button>
                </form>
            </div>



            <p>Sorgenti</p>
            <select ng-model="ctrl.panel.selectedDB">
                <option ng-repeat="el in ctrl.panel.source">{{el.name}}</option>
            </select>
            <button ng-click="ctrl.getFluxes()">Conferma</button>




            <p>Flussi</p>

            <select ng-model="ctrl.panel.actualFlux">
                <option ng-repeat="el in ctrl.panel.flussiDati track by $index">{{el}}</option>
            </select>

            <p>{{ctrl.panel.actualFlux}}</p>

            <p>State tresholds</p>
            <div ng-repeat="el in ctrl.panel.tresholds[soglie]">


                <div style="float: left;">
                    <p style="float: left;">{{el.state}}</p>
                    <select class="alert-rule-list" style="float:left;" ng-model="el.sign">
                        <option class="alert-rule-item ng-scope" value=">="> >= </option>
                        <option class="alert-rule-item ng-scope" value="<"> < </option>
                    </select>

                    <input ng-model="el.number" type="number" placeholder="el.number" style="float:left;">
                    <input type="checkbox" style="float: left;" ng-model="el.critical">
                    <button ng-click="ctrl.deleteTreshold(soglie, el.name)" style="color: black; float: left;"> - </button>

                </div>
            </div>


            <p id="error">{{ctrl.panel.error}}</p>
            <button ng-if="ctrl.panel.tresholds[soglie].length > 0" ng-click="ctrl.confirmTresholdsChanges(soglie)" style="color:black;float:left;">Confirm</button>
            <button ng-if="ctrl.panel.fluxesAssociations[soglie] !== undefined" ng-click="ctrl.deleteLinkToFlux(soglie)">Unlink</button>
        </form>

        <div ng-if="ctrl.panel.monitoring !== undefined" id="cc" ng-model="ctrl.panel.calculatedProbabilities">
            <span ng-repeat="el in ctrl.panel.calculatedProbabilities">
                <label ng-bind="el.node"></label>
                <label ng-bind="el.prob"></label>
            </span>
        </div>


        <span class="gf-form-label">Divider width</span>
        <button class="confirm-button" ng-click="ctrl.startComputation()"> Conferma Collegamento</button>
        <button class="confirm-button" ng-click="ctrl.closeComputation()"> Chiudi Collegamento</button>
    </div>



</div>